body{
    font-family: 'Gantari', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.one{
    color: orange;
}
.two{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 255, 0), rgb(157, 255, 0));
    padding: 10px 30px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 50px;
}
.three{
        width: 40%;
        padding-left: 8%;
    }
.three img{
        width: 100%;
    }
.three1{
        width: 60%;
        padding-left: 14%;
        padding-right: 2px;
    }
.four{
    display: flex;
    margin-bottom: 150px;
}
.five1{
    background-image: url(images/shapes/7.png);
      
}
.six{
    font-size: 46px;
}
.three2{
    width: 50%;
    padding-left: 8%;
}
.three2 img{
    width: 100%;
}
.three3{
    width: 50%;
    padding-left: 8%;
    padding-top: 190px;
    margin-right: 50px;
    text-align: justify;
}
.two1{
    text-decoration: none;
    background-image: linear-gradient(rgb(252, 76, 1), rgb(136, 0, 0));
    padding: 10px 30px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 50px;